* {
  box-sizing: border-box;
}

.about_inner_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  font-size: 20px;
  margin-top: 100px;
  .about_leftside {
    text-align: center;
  }
  .about_rightside {
    padding: 0 15px;
    margin-right: 15px;
    background-color: rgba($color: #000000, $alpha: 0.5);
    h2 {
      text-align: center;
    }
  }
  img {
    border-radius: 40%;
  }
}

@media screen and (max-width: 748px) {
  .about_inner_container {
    grid-template-columns: 1fr;
    height: 100vh;
    .about_leftside {
      text-align: center;
    }
  }
  body {
    background-color: black;
  }
}
