.home__inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  h2 {
    font-size: 40px;
  }
  .icons a {
    margin: 0 10px;
    font-size: 30px;
    color: white;
    text-align: center;
  }
  .cv a {
    margin: 0;
    color: yellow;
    text-decoration: none;
  }
}
