.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 30px;
  img {
    border-radius: 100px;
    height: 120px;
    width: 120px;
    margin: 10px;
  }
  ul {
    margin: 0 40px;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    li {
      list-style: none;
      a {
        text-decoration: none;
        color: white;
      }
    }
  }
  .burger {
    color: white;
    display: none;
    font-size: 40px;
    cursor: pointer;
  }
  .active {
    border-bottom: 3px solid yellow;
  }
}

.close-icon {
  display: none;
}

.menu-container {
  display: flex;
}

@media screen and (max-width: 748px) {
  .burger {
    display: block !important;
  }
  .menu {
    flex-direction: column !important;
    padding: 50px !important;
  }

  .menu-container {
    height: 100vh;
    background-color: black;
    display: block;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 3;
    padding: 10px;
    display: none;
  }
  .active-menu {
    display: block !important;
  }
  ul {
    margin: 10px 0 !important;
    padding: 0 !important;
  }
  .close-icon {
    position: absolute;
    right: 10px;
    font-size: 30px;
    display: block;
    cursor: pointer;
  }
}
