.inner-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid: gap 10px;
  a {
    text-decoration: none;
    text-align: center;
    width: 100%;
    height: 100%;
    border: none;
    background-color: black;
    cursor: pointer;
    color: white;
    &:hover {
      background-color: white;
      color: black;
    }
  }
}

@media screen and (max-width: 748px) {
  .inner-container {
    grid-template-columns: 1fr;
    margin: auto;
    width: 70%;
  }
  body {
    background-color: black;
  }
}
