body {
  margin: 0;
  padding: 0;
}
.App {
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.5) !important;
  color: #fff;
  height: 100vh;
  width: 100%;
  position: relative;
}

.App:before {
  content: "";
  background: url("https://images.unsplash.com/photo-1501959181532-7d2a3c064642?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1193&q=80")
    no-repeat center center/cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.container {
  max-width: 1300px;
  margin: auto;
}
